$text-gray: #9fabb0;
$theme-dark-green: #14291b;



body {
  background: floralwhite;
}

hr {
  border: 0;
  clear:both;
  display:block;
  background-color: $text-gray;
  height: 1px;
}

header {
  color: floralwhite;
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container-fluid {
    position: relative;
    z-index: 3;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media(max-width:767px) {
    .nav-item {
      border: 0 !important;
    }

    .navbar-toggler {
      z-index: 10;
    }

    #navbar {
      background: $theme-dark-green;
       ul > li > a {
        color:floralwhite;
      }
      position: absolute;
      top:0;
      z-index: 1;

      li {
        padding: 1.5em;
      }
    }
  }

}

.carousel {
  background: $theme-dark-green;

  .carousel-item {
    height: 250px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 250px;
    }

    @media(max-width:767px) {
      h4 {
        width: 60%;
        background: $theme-dark-green;
        margin: auto;
        max-height: 100%;
        border-radius: 0.5rem;
        padding: 0.5rem;
      }
    }

  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

#contact {
  button[type="submit"] {
    border-radius: 0;
  }
}









