$text-gray: #9fabb0;
$theme-dark-green: #0d1a11;

body {
  background: floralwhite;
}



hr {
  border: 0;
  clear:both;
  display:block;
  background-color: $text-gray;
  height: 1px;
}

header {
  color: floralwhite;
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container-fluid {
    position: relative;
    z-index: 3;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media(max-width:767px) {
    .nav-item {
      border: 0 !important;
    }

    .navbar-toggler {
      z-index: 10;
    }

    #navbar {
      background: $theme-dark-green;
       ul > li > a {
        color:floralwhite;
      }
      position: absolute;
      top:0;
      z-index: 1;

      li {
        padding: 1.5em;
      }
    }
  }

}


